-title "Edit Profile"

%section.well
  %header.edit_profile_header
    %h1= 'Edit Profile'

  = simple_form_for current_user, url: profile_path, method: :put, html: { class: 'form-vertical' } do |f|
    .fieldset
      %legend= 'Account Information'
      = f.input :username, disabled: true, hint: "You cannot change your username."
      = f.input :email, placeholder: "name@domain.com"
      = f.input :full_name, label: "Your name or company name", placeholder: "John Doe"
      = f.input :password, placeholder: "Please pick something strong"
      = f.input :password_confirmation, placeholder: "Please type it again."
      .form-actions
        = f.submit 'Save', class: 'btn btn-primary'
