-title "#{current_user.full_name}'s Account"

.row-fluid
  .span9
    =content_tag_for(:section, current_user, class: 'well') do
      %header.user_home_header
        %h1= "#{current_user.full_name}:"
      %p= current_user.subscription_content
  .span3
    .well
      %ul.nav.nav-list
        %li.nav-header= "Account Settings"
        %li= link_to 'Edit Profile', edit_profile_path
        %li= link_to 'New Credit Card', new_credit_card_path
        %li= link_to 'Change Subscription', available_subscription_plans_path
        %li= link_to 'Cancel Subscription', subscription_path, method: 'delete', :confirm => 'Are you sure?'
        %li= link_to 'Sign Out', sign_out_path