-title "Sign In"

%section.well
  %header.sign_in_header
    %h1= "Welcome to Brand"
  = form_tag session_path, :method => :post do
    .fieldset
      .field.username
        = label_tag :username
        = text_field_tag :username
      .field.password
        = label_tag :password
        = password_field_tag :password
      .field.remember_me
        = check_box_tag :remember, '1', checked: true
        = label_tag :remember, 'Remember me'
      .form-actions
        .sign_in_actions
          = submit_tag 'Sign In', disabled_with: 'Signing In', class: 'btn btn-primary'
        .new_account_actions
          Need an account?
          = link_to 'Sign Up', sign_up_path
        .forgot_password_actions
          Forgot your password?
          = link_to 'Request Reset', new_password_reset_path