-title "Tagline goes here"

%section#main_hero.hero-unit
  %h1= "Call to action!"
  %p= "Explain why your product is awesome."
  %p= link_to 'Sign Up', sign_up_path, class: 'btn btn-primary btn-large'
%section#all_options.hero-unit
  %h2= "Multiple plans available!"
  %p= link_to 'See Options', available_subscription_plans_path, class: 'btn btn-primary btn-large'
